@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik";
  background-color: #dedede;
  scrollbar-color: #888 #cacaca;
}
@media screen and (orientation: landscape) {
  .everything {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .banner {
    background-color: #dedede;
    width: 100%;
    padding: 15px;
    border-bottom: solid 5px #cacaca;
    display: flex;
    align-items: center;
    font-family: Rubik;
    gap: 52px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px #000;
    flex-wrap: wrap;
    z-index: 25;
  }
  .banner img {
    height: 64px;
  }
  .banner a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    font-size: 42px;
    text-transform: uppercase;
    padding: 0 5px;
    border-bottom: solid 3px #00000000;
    border-top: solid 3px #00000000;
  }
  #current {
    border-bottom: solid 3px #000;
  }
  .footer {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #121212;
  }
  .footer img {
    height: 100%;
    padding: 23px;
  }
  .footer .links {
    display: flex;
    gap: 15px;
  }
  .footer a {
    color: inherit;
  }
  .footer p {
    font-size: 18px;
    font-weight: 400;
    padding: 23px;
  }
  .main {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 24px;
  }
  .main .linkbar {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #dedede;
    filter: drop-shadow(-12px 12px 2px #00000030) drop-shadow(0 0 2px #00000060);
  }
  .main .links a {
    background-color: #dedede;
    width: 100%;
    max-width: 100%;
    border-left: solid 5px #cacaca;
    background-color: #dedede;
    width: 100%;
    padding: 8px 12px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    font-size: 24px;
    transition: border-left 0.2s;
  }
  .main .links p {
    background-color: #dedede;
    width: 100%;
    max-width: 100%;
    background-color: #242424;
    width: 100%;
    padding: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
  }
  #twitch:hover {
    border-left: solid 8px #9146ff;
  }
  #facebook:hover {
    border-left: solid 8px #1877f2;
  }
  #tiktok:hover {
    border-left: solid 8px #ff0050;
  }
  #youtube:hover {
    border-left: solid 8px #ff0033;
  }
  #soundcloud:hover {
    border-left: solid 8px #ff8800;
  }
  #mixcloud:hover {
    border-left: solid 8px #52aad8;
  }
  #snapchat:hover {
    border-left: solid 8px #fffc00;
  }
  #twitter:hover {
    border-left: solid 8px #1da1f2;
  }
  .mainSection {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  .panel {
    filter: drop-shadow(-12px 12px 2px #00000030) drop-shadow(0 0 2px #00000060);
  }
  .header {
    font-weight: 600;
    color: #fff;
    background-color: #242424;
    font-size: 24px;
    padding: 18px;
  }
  .content {
    padding: 8px 12px;
    background-color: #dedede;
  }
  .warning {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .warning {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ff000065;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    font-weight: 600;
    text-shadow: 0 0 5px #000;
    content: "test";
    z-index: 100;
    font-size: 32px;
    color: #fff;
    height: 100vh;
  }
}
