@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: Rubik;
  color: #fff;
}
.banner {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #101010;
  border-bottom: solid 5px #202020;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  max-height: 25vh;
  font-weight: 500;
  filter: drop-shadow(0 0 10px #000);
}
.banner .option {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.banner .option:hover {
  color: #cacaca;
}
img {
  width: 64px;
}
.subBanner {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
}

.subBanner2 {
  justify-content: end;
  display: flex;
  width: 50%;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: scale(0.75);
}
.icon:hover {
  transform: scale(0.85);
}
.svg {
  filter: invert(1);
}
.titleCard {
  width: 100%;
  height: 500px;
  background-image: url("img/temp.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  z-index: -1;
}
.gradient {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: linear-gradient(to top, #000, #00000000);
}
.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 600px;
  filter: drop-shadow(0 0 3px #000);
  text-align: justify;
}
.spacer {
  height: 25px;
}
.titleLogo {
  width: 600px;
}
.ncturnal {
  width: 100%;
  filter: drop-shadow(0 0 10px #000);
}
